html,
body {
    margin: 0;
    padding: 0;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

button {
    width: 160px;
    height: 64px;
    font-size: 20px;
    font-weight: 600px;
    color: white;
    background: rgba(247, 89, 17, 0.952);
    border: 0;
    border-radius: 5px;
}


/* banner sectionn css  */
.banner {
    /* width: 1660px; */
    height: 100vh;
    background-image: url(images/banner/banner1.png);
    background-size: cover;
}

.banner-container {
    width: 70vw;
    height: 804px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;

}

.banner-text {
    width: 40%;
    height: 400px;
    text-align: end;
}

.banner-text h1 {
    font-size: 65px;
    list-style: 76px;

    font-weight: 700;
}



/* main section css  */
main {
    width: 70vw;
    margin: 0 auto;
}

/* about section css  */
#about-section {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.about-img {
    width: 50%;
}

.about-details {
    width: 28%;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

/* plan section css  */

.plan-title {
    text-transform: capitalize;
    text-align: center;
    margin: 100px 0px 50px 0px;
}

.plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.plan-item {
    /* width: 25%; */
    text-align: center;
}

.plan-item h3 {
    font-size: 30px;
    font-weight: 700;
}

.plan-item p {
    font-size: 25px;
}

/* .Contact area css  */
.contact-area {
    /* height:  */
    width: 100%;
    background-image: url(images/watch.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}

.contact-overly {
    border-radius: 10px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
}

.contact {
    padding: 60px;
    color: white;
}
.contact button {
    background: #f8f7f7;
    color: #F15B22;
    
}